/**/

.main-container {
    padding: 40px 15px;
    width: 100%;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel .item {
    min-height: 1200px;
    height: 100%;
    width: 100%;
}

.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    background-color: #09c;
}

.red h3 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-shadow: 4px 2px 9px rgba(0, 0, 0, 1);
}

.black h3 {
    background-color: rgba(191, 43, 43, 0.4);
    color: #fff;
    text-shadow: 4px 2px 9px rgba(0, 0, 0, 1);
}

.orange h3 {
    background-color: rgba(255, 135, 40, 0.4);
    color: #000;
}

.carousel-caption h3 {
    padding: .5em;
}

.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
}


/* Animation delays */

.carousel-caption h3:first-child {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.carousel-caption button {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}