/**This css manage the design of the eddttable page*/
* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.container {
    
    width: 100%;
    height: 100%;
}

.img1{
     background-image: url(../img/madera1.jpg);
     background-size: cover;
     background-position: center;
     filter: blur(20px);
     width: 100%;
     height: 100%;
}

.container-data{
    width: 50%;
    height: 30%;
    padding: 10% 5%;
    margin: 0 auto;
    border-radius: 6px;
    display: block;
    text-align: center;
    
}

#buttom{
    height: 20%;
    width: 15%;
    border-radius: 6px;
    background-color:#1F1B16;
    color: white;
    font-family: 'Roboto', serif;
    font-size: 13px;
    margin: 60px 0px 0px 0px;
}

.inputStyle{
    width: 30%;
    height: 30px;
    font-size: 18px;
    font-weight: bolder;
    background-color: transparent;
    border-color: #fff;
    border-radius: 6px;
    margin: 15px 0px 15px -60px;
    text-align: center;
    color: white;
   
}

.labelStyle{
     font-family: 'Roboto', serif;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    display: block;
    float: left;
    margin: 0px 70px;
    padding: 10px;
    color: white;
}

.footerStyle{
    width: 100%;
    height: 25%;
}
.footerStyle p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
    padding: 80px;
}