/**This css manage the design of the backend and  all the tables **/
/*General class*/
*{
    margin:0;
    padding: 0;
}
body{
background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                
}


#inputPhoto{
    font-size=60%;
    width: 160%;
}

.containerCenter{
    width: 80%;
    margin: 0 auto;
}

.rigth{
    float:right;
   
}
.left{  
    float: left;
}
/*stickyMenu*/
.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(23, 23, 23);
    display: block;
    padding-top: 5px;
}

/*Parrallax mode*/
.parallax{
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;   
    background-position: center center;
    position: relative;
    width: 100% ;
    background-color: rgb(23, 23, 23);
}

/*fonts styles*/
.font-style_1{
	font-family: 'Roboto', serif;
  font-weight: 300px;
	font-size: 20px;
  color: rgb(255,255,255) ;
}

.font-style_2{
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
}

.font-style_3{
  font-family: 'Roboto', serif;
  font-size: 20px;
}

.font-style_4{
  font-family: 'Roboto', serif;
  font-weight: 300px;
  font-size: 20px;
  color: rgb(255,255,255) ;
  padding: 50px 0px 10px 0px;
}

/*Stiky Menu*/

section nav {
    height:36px;  
    position:relative; 
    background-color: rgba(23, 23, 23, 0.7);
    z-index:1000;
}
 
section nav ul {
    list-style: none;
    overflow: hidden;
}
 
section nav ul li {
    float: left;
}
 
section nav ul li a {
    display: block;
    padding:20px;
    color:#fff;
    text-decoration: none;
    padding-top: 8px;
}
 
section nav ul li a:hover {
    color: rgb(166,12,0);
    text-decoration: none;
}

/*Welcomen user*/

.welcome{

  position: relative
  }



/*table designe*/

.title_table{
    text-align: center;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }

 .tbl-content{
  height:395px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);}

th{
  padding: 20px 27px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/*Sizes*/
.menuSize{
  height: 75px;
}

.tableSize{
  height: 500px;
 padding-top: 5%;
}

/*login*/

.background-login{
  background-image: url(../img/login.jpg);
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  width: 100%;
  margin: 0 auto;
  padding-top: 3%;
}

.container-rigth{
  float: right;
  width: 50%;
}

.container-left{
  float: left;
  width: 50%;
}

.cuadrado {
     width: 45%; 
     height: 642px; 
     background-color: rgba(0,0,0,0.7);
}


/*end login*/

.containerLogin label{
    color: white;
    font-family: 'Roboto', serif;
    font-size: 18px;
    text-transform: none;
    padding-top: 10px;
}

.button{
    margin: 10px 0px 0px 55px;
    font-family: 'Roboto', serif;
    font-size: 14px;
    text-transform: none;
}

/*User*/

#newUser{
    padding-left: 40%;
    padding-top: 20px;
    margin-top: 7%;
}

#newUser input{
    margin: 10px 0;
}

/* Client */

#name{
width: 24%;    
}

#id{
width: 22%;    
}

/* food menu */
#AdministrationDishes{
    
}

#AdministrationDishes .btn-info{
    color: white;
    background-color: #FF8728;
    border-color: black;
}

#AdministrationDishes .btn-info:hover{
    color: white;
    background-color: #FFAD27;
    border-color: black;
}
/*Cambia los botones editar y eliminar*/
td a{
    color: rgb(255,255,255);
    padding-right: 5px;
    display: block; 
    text-align: center;
    border: 1px solid #fff;
    width: 60px;
    padding: 5px;
    
    margin: 3px 0px 0px 20px;
    background: none;
}

td a:hover{
  color: rgb(166, 12, 0);
  }

p a {
  color: rgb(166, 12, 0);
}

p a:hover{
  color: rgb(255,255,255);
  }

.a-insert{
     color: rgb(255,255,255);
    padding-right: 5px;
    display: block; 
    text-align: center;
    border: 1px solid #fff;
    width: 60px;
    padding: 5px;
    margin: 3px 0px 8px 20px;
    background: none; 
    
}

.a-insert:hover{
    background-color:  rgb(166, 12, 0);
    color: white;
}

/*foodMenuSettings*/
#foodMenuSettings{
    background-color: black;
}

.foodMenu {
  
background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                

}

.foodMenu h2 {
    margin: 0px 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: none;
    color: white;
}

.foodMenu h3 {
    margin: 0px 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: none;
    color: white;
    text-align: center;
}

.foodMenu-user{
    margin-top: 30px;
    padding: 20px;
    
    
}

.foodMenu-input label,
.foodMenu-user a {
    width: 365px;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: none;
    color: #fff;
}

.foodMenu-input button {
    margin: 0px 0px 40px;
    background-color: rgba(100, 100, 100, 0.0);
    color: #fff;
    border-color: #fff;
    margin: 12px 0px 9px 0px;
}

.foodMenu-input input {
    width: 80%;
    height: 25px;
    margin: 0px 0px 40px;
    background-color: rgba(255, 255, 255, 0.0);
    color: #fff;
    border-color: #fff;
    margin: 12px 0px 9px 0px;
}

.foodMenu-input textarea {
    width: 80%;
    height: 80px;
    margin: 0px 0px 40px;
    background-color: rgba(255, 255, 255, 0.0);
    color: #fff;
    border-color: #fff;
    margin: 12px 0px 9px 0px;
}

.foodMenu-input a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    border-color: #fff;
    width: 105px;
}

.foodMenu-select{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: none; 
 
}

.foodMenu-buttons{
    margin: 10px 0px 0px 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: none;
    border-color: white;
    background-color: transparent;
    color: #fff;
}

.foodMenu-buttons:hover{
    background-color: firebrick;
    color: #fff;
}


