/**This css manage the design of the all sections  of the principal page**/

/*Global Attributes*/

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}
h1 {
    padding-top: 8px;
    font-size: 20px;
}
h2 {
    font-size: 20px;
    text-align: center;
    padding: 59px 0px 0px 0;
    font-weight: 700px;
    padding: 10% 0 0 0
}
 
h4,
h3,
h2,
h1,
a{
    font-family: 'Roboto', serif;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}


/*Global Style Button*/

.buttons {
    display: block;
    text-align: center;
    border: 3px solid #000; 
    width: 154px;
    padding: 8px;
    font-size: 13px;
    margin: 34px 0px 0px 15px;
    background: none;
    font-family: 'Roboto', serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
}

a.buttons:hover,button.buttons:hover {
  background-color: #000;
  color:#fff;
  text-decoration: none;
}
#contacto button:hover{
  background-color: #fff;
  color:#000;
  text-decoration: none;
}
.rigth {
    float: right;
    padding-right: 8%;
}

.left {
    float: left;
    margin-left: 60px;
}

.padding-top {
    padding-top: 10px;
}

.padding-remove {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-columns {
    padding: 35px 0 0 0;
}

.center-carousel-caption {
    width: 63%;
    height: 84%;
}
.center-logo-carousel{
    width: 63%;
    height: 93%;
}

/*CAROUSEL SLIDER IMAGES*/

.fill {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.slider-img {
    top: 0%;
    left: 0%;
    height: 100%;
    z-index: -1;
    position: absolute;
    max-height: 1024px;
    display: block;
}

.time4 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}


/*Parallax (effect that causes the background move)*/

.parallax {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    background-color: rgb(23, 23, 23);
    display: block;
}


/*Size (diferents size, aplicate to parrallax effect)*/

.superBig {
    min-height: 850px;
}

.big {
    min-height: 700px;
    height: 100%;
}

.medium {
    min-height: 700px;
    height: 100%;
}

.small {
    min-height: 350px;
    height: 90%;
}

.tiny {
    min-height: 85px;
}


/*--------------*/


/*Logo*/

.logo img {
    width: 344px;
    height: 440px;
    -webkit-filter: drop-shadow(8px 8px 8px black);
    filter: drop-shadow(8px 8px 8px black);
}
.arrow-colocation a{
    margin: 0 1% 0 0;
}

/*--------------*/


/*Images*/

.slider-img4 {
    background-image: url("../img/slider4.jpg");
}

.slider-img3 {
    background-image: url("../img/slider3.jpg");
}

.slider-img2 {
    background-image: url("../img/slider2.jpg");
}

.img2 {
    background-image: url("../img/login3.jpg");
}


/*Colors*/

.color1 {
    background-color: rgb(250, 248, 234);
}

.color2 {
    background-color: rgb(255, 255, 255);
}

.colorBlack {
    background-color: rgb(30, 30, 30);
}

.colorBlackMenu {
    background-color: rgba(23, 23, 23, 0.0);
    border: none;
}


/*--------------*/


/*Stiky Menu*/

#home nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-size: 17px;
    text-shadow: 4px 2px 9px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: 700;
}

#home nav ul li a:hover {
    color: #ff4c2f;
    -webkit-transition: color 500ms ease 0s;
    transition: color 500ms ease 0s;
}


/* --- add class when the user scroll--- */

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(23, 23, 23);
    display: block;
}

.menu-fixed h1 {
    display: block;
}

.menu-fixed h1 a {
    color: #fff;
    text-decoration: none;
}

.navbar-inverse .navbar-brand a:hover {
    color: #DF3030;
}


/*------------About us-------------------*/

#nosotros article div h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    padding: 20px 0px 0px 22px;
    text-align: inherit;
}

#nosotros article div h4 {
    font-size: 20px;
    padding: 15px 0px 0px 22px;
    width: 80%;
    line-height: 1.4;
}

#nosotros article div h3 {
    font-weight: 700;
    font-size: 18px;
    padding: 15px 0px 0px 20px;
}

#nosotros article div p {
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    color: #0050;
    font-size: 16px;
    padding: 11px 0px 0px 20px;
    width: 74%;
    text-align: justify;
}


/*-----------------CONTACT-------------------*/

.contact {
    color: #fff;
}

.contact h2 {
    margin: 0px 0px 20px;
    font-family: 'Roboto', serif;
    font-size: 20px;
    color: #fff;
}

.contact-user,
.contact-location {
    padding: 20px;
}

.contact-input label,
.contact-user a {
    width: 365px;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: none;
}

.contact-input button {
    margin: 0px 0px 40px;
    background-color: rgba(255, 255, 255, 0.0);
    color: #fff;
    border-color: #fff;
    margin: 12px 0px 9px 0px;
}

.contact-input input {
    width: 80%;
    height: 25px;
    margin: 0px 0px 40px;
    background-color: rgba(255, 255, 255, 0.0);
    color: #fff;
    border-color: #fff;
    margin: 12px 0px 9px 0px;
}

.contact-input textarea {
    width: 80%;
    height: 80px;
    margin: 0px 0px 40px;
    background-color: rgba(255, 255, 255, 0.0);
    color: #fff;
    border-color: #fff;
    margin: 12px 0px 9px 0px;
}

.contact-input a {
    font-family: 'Roboto', serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    border-color: #fff;
    width: 105px;
}


/*-----------------END CONTACT-------------------*/


/*Animation Images*/

.div-img {
    margin-left: auto;
    margin-right: auto;
}

.div-img.hiddenN {
    overflow: hidden;
}

.div-img .img {
    width: 100%;
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.div-img:hover .img {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}


/*-----------------End Animation-------------------*/


/* ----------------------------------------------RESERVATION----------------------------------------------------- */

.containerReserve {
    padding: 10% 0 0 0;
}

.containerReserve p {
    font-family: 'Roboto', serif;
    font-size: 20px;
    text-align: center;
}

.labels {
    font-family: 'Roboto', serif;
    font-weight: 900;
    color: #000;
    font-size: 18px;
}

.reserve-left {
    padding: 0 0 0 20%;
}

.reserve-right {
    padding: 0 0 0 20%;
}

.input {
    height: 25px;
    border-radius: 3px;
    border: 1px solid;
    width: 200px;
    border-color: dimgrey;
}

select {
    border-radius: 3px;
    height: 25px;
    border: 1px solid;
    width: 200px;
    border-color: dimgrey;
}

/* ---------------------------------------------------------end style reservation --------------------------------------------- */
.icons {
    margin: 10px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.footer-center {
    padding-top: 10px;
    text-align: center;
}

#footer p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
    margin: 10px 0px;
}

.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 70px;
  height: 71px;
  font-size: 0;
  text-indent: -9999px;
}

.icon-cube {
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
  overflow: visible;
}

.icon-cube::before,
.icon-cube::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/social/icons5.png");
  
  
  content: "";
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.icon-cube::before {
  z-index: 2;
  background-color: #595959;
}

.icon-cube::after {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(48px) rotateX(-90deg);
          transform: translateY(48px) rotateX(-90deg);
}

.icon-cube:hover::before {
  opacity: 0;
  -webkit-transform: translateY(-48px) rotateX(90deg);
          transform: translateY(-48px) rotateX(90deg);
}

.icon-cube:hover::after {
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

/* facebook */
.icon-cube.facebook::before,
.icon-cube.facebook::after {
  background-position: 0 0;
}

.icon-cube.facebook::after {
  background-color: #3b5998;
}

/* twitter */
.icon-cube.twitter::before,
.icon-cube.twitter::after {
  background-position: -96px 0;
}

.icon-cube.twitter::after {
  background-color: #4099ff;
}

/* google plus */
.icon-cube.googleplus::before,
.icon-cube.googleplus::after {
  background-position: -192px 0;
}

.icon-cube.googleplus::after {
  background-color: #d34836;
}

/* github */
.icon-cube.github::before,
.icon-cube.github::after {
  background-position: -288px 0;
}

.icon-cube.github::after {
  background-color: #333333;
}

/* rss */
.icon-cube.rss::before,
.icon-cube.rss::after {
  background-position: -384px 0;
}

.icon-cube.rss::after {
  background-color: #ee802f;
}


/* ---- Icon scroll down animated --------------------- */

@-webkit-keyframes arrowDown {
    from {
        top: 50px;
    }
    to {
        top: 100px;
    }
}

@keyframes arrowDown {
    from {
        top: 30px;
    }
    to {
        top: 60px;
    }
}

.arrow {
    width: 55px;
    height: 25px;
    position: relative;
    -webkit-animation: arrowDown 4s infinite;
    /* Chrome, Safari, Opera */
    animation: arrowDown 4s infinite;
}

.arrowCenter {
    margin: 0 0 0 47.5%;
}


/*------Media queries--------*/

@media screen and (max-width: 820px) {
    .center-carousel-caption {
        width: 63%;
        height: 95%;
    }
    .logo img {
        width: 244px;
        height: 340px;
        -webkit-filter: drop-shadow(8px 8px 8px black);
        filter: drop-shadow(8px 8px 8px black);
    }
    .big {
        min-height: 250px;
        max-height: 485px;
        height: 100%;
    }
    .buttons, .contact-input button {
    margin: 5% 0% 5% 25%;
  }
  .slider-img1 {
    background-image: url("../img/slider1.jpg");
}
}
@media only screen and (orientation: landscape) {
        .big {
        min-height: 500px;
        max-height: 700px;
        height: 100%;
    }
}
